.starting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .starting h1 {
    /* Additional styles for the h1 element if needed */
  }
  
  .bouncing {
    animation: bounceAnimation 1s infinite;
  }
  
  @keyframes bounceAnimation {
    0% {
        transform: scale(1);
      }
      10% {
        transform: scale(0.9);
      }
      30% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(1.15);
      }
      100% {
        transform: scale(1);
      }
  }
  
  .main{
    margin-top: 2rem;
  }

  .main h2{
    
    text-align: center;
    
  }
  .main form{
    text-align: center;
  }
  .main input{
    margin-top: 3rem;
    margin-left: 1rem;
    border-radius: 6px;
    /* padding-left: 3rem; */
  }
  .main label{
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .main button{
    margin-top: 2rem;
    display: flex;
    margin-left: 24rem;

  }
  .main hr{
    margin-left: 24rem;
  }