body {
 background-image: url("depositphotos_612577980-stock-video-beautiful-overflow-pastel-colors-smooth.jpg");
background-repeat: no-repeat;
background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;